.Button {
    cursor: pointer;
    border: none;
    /* width: 100px; */
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
}

.Button_POSITIVE {
    background-color: rgb(100, 201, 100);
    color: white;
}
.Button_NEGATIVE {
    background-color: rgb(253, 86, 95);
    color: white;
}